*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D0D0D;
    color: white;
}

/* header styles start */
.header{
    padding: 65px 0 24px 0;
}
.header-container{
    max-width: 1414px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 48px;

    border: 1px solid #262626;
    padding: 20px 34px;
    border-radius: 50px;
    background-color: #17171799;
}
.nav-link{
    color: #7A7A7A;
    text-decoration: none;
    font-size: 16px;
    line-height: 20.8px;
    font-family: Inter, sans-serif;
}
.header-btn{
    background-color: #17171799;
    padding: 16px 28px;
    border: 1px solid #262626;
    border-radius: 50px;
    color: #CCCCCC;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    line-height: 20.8px;
}

.header-hamburger{
    width: 48px;
    height: 48px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


/* header responsive */
@media (max-width: 840px) {

    /* header responsive styles */
    .header{
        padding-top: 40px;
    }
    .header-logo img{
        width: 66px;
    }
    .nav-list, .header-btn{
        display: none;
    }
    .header-hamburger{
        display: flex;
    }
}
/* header styles end */


/* main styles */
/* hero styles in main */
.hero{
    padding: 125px 0 119px 0;
}
.hero-container{
    max-width: 723px;
    margin: 0 auto;
    padding: 0 20px;

    text-align: center;
}
.hero-title{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 132px;
    line-height: 132px;
    letter-spacing: -2.4px;

    background: linear-gradient(243.33deg, #FFFFF7 8.55%, #727267 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}
.hero-text{
    font-family: Inter, sans-serif;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.18px;
    color: #7D7F78;
    max-width: 516px;
    margin: 0 auto;
    margin-bottom: 49px;
}
.hero-link{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 9px 15px 10px 20px;
    border-radius: 22px;
    text-decoration: none;

    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}


/* hero responsive */

@media (max-width: 768px) {
    .hero{
        padding-top: 100px;
    }
    .hero-title{
        font-size: 53px;
        line-height: 1;
        margin-bottom: 25px;
    }
    .hero-text{
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .hero-link{
        font-size: 16px;
    }
    .hero-link img{
        width: 30px;
    }
}
/* hero styles end */


/* together section styles */
.together{
    padding: 119px 0 117px 0;
    background-color: green;
}
.togather-container{
    background-color: orange;
}