@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background-color: #0D0D0D;
    color: white;
}

/* wrapper */
.wrapper{
    background-image: url('../img/wrapper/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    max-width: 1414px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header styles start */
.header{
    padding: 65px 0 24px 0;
}
.header-container{
    max-width: 1414px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    display: flex;
    transition: 0.3s;
}
.header-logo:hover{
    opacity: 0.8;
    /* filter: brightness(0) invert(1); */
    transition: 0.3s;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 48px;

    border: 1px solid #262626;
    padding: 20px 34px;
    border-radius: 50px;
    background-color: #17171799;
}
.nav-link{
    color: #7A7A7A;
    text-decoration: none;
    font-size: 16px;
    line-height: 20.8px;
    font-family: "Inter", sans-serif;
    transition: 0.3s;
}
.nav-link:hover, .header-btn:hover{
    color: white;
    transition: 0.3s;
}
.header-btn{
    background-color: #17171799;
    padding: 16px 28px;
    border: 1px solid #262626;
    border-radius: 50px;
    color: #CCCCCC;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    line-height: 20.8px;
}

.header-hamburger{
    width: 48px;
    height: 48px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


/* header responsive */
@media (max-width: 840px) {

    /* header responsive styles */
    .header{
        padding-top: 40px;
    }
    .header-logo img{
        width: 66px;
    }
    .nav-list, .header-btn{
        display: none;
    }
    .header-hamburger{
        display: flex;
    }
}
/* header styles end */


/* main styles */
/* hero styles in main */
.hero{
    padding: 125px 0 119px 0;
}
.hero-container{
    max-width: 723px;
    text-align: center;
}
.hero-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 132px;
    line-height: 132px;
    letter-spacing: -2.4px;

    background: linear-gradient(243.33deg, #FFFFF7 8.55%, #727267 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}
.hero-text{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.18px;
    color: #7D7F78;
    max-width: 516px;
    margin: 0 auto;
    margin-bottom: 49px;
}
.hero-link{
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    padding: 9px 15px 10px 20px;
    border-radius: 22px;
    text-decoration: none;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    transition: 0.3s;
}
.hero-link:hover{
    opacity: 0.8;
    transition: 0.3s;
}


/* hero responsive */
@media (max-width: 768px) {
    .hero{
        padding-top: 100px;
    }
    .hero-title{
        font-size: 53px;
        line-height: 1;
        margin-bottom: 25px;
    }
    .hero-text{
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .hero-link{
        font-size: 16px;
    }
    .hero-link img{
        width: 30px;
    }
}
/* hero styles end */


/* together section styles */
.together{
    padding: 119px 0 117px 0;
}
.together-container{
    max-width: 1137px;
}
.together-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 82px;
}
.together-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
    gap: 27px;
}
.together-col{
    background-color: #1B1B1B;
    border-radius: 30px;
    border: 1px solid #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 7px;
    padding: 0 17px 32px 17px;
}
.together-col-img{
    width: 120px;
    height: 120px;
    transform: translateY(-17px);
    border-radius: 29px;
}
.together-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.52px;
    text-align: center;
    color: #CCCCCC;
}


/* together responsive */
@media (max-width: 768px) {
    .together{
        padding-bottom: 42px;
    }
    .together-title{
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 57px;
    }
    .together-col{
        gap: 7px;
        border-radius: 24px;
    }
    .together-col-img{
        width: 96px;
        height: 96px;
        border-radius: 20px;
    }
    .together-col-text{
        font-size: 18px;
        line-height: 1.2;
    }
}
@media (max-width: 768px) {
    .together-row{
        grid-template-columns: 1fr;
    }
}
/* together end */


/* benefits styles */
.benefits{
    padding: 92px 0 109px 0;
}
.benefits-container{
    max-width: 1237px;
}
.benefits-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 80px;
}
.benefits-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
    gap: 52px;
}
.benefits-col{
    background-color: #1B1B1B;
    border: 1px solid #262626;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 19px;
    padding: 15px 21px 16px 15px;
}
.benefits-img{
    width: 100px;
    height: 100px;
}
.benefits-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.52px;
    color: #CCCCCC;
}

@media (max-width: 768px) {
    .benefits{
        padding: 48px 0 24px 0;
    }
    .benefits-title{
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 1.2;
    }
    .benefits-row{
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .benefits-col{
        padding: 16px 19px;
        border-radius: 20px;
    }
    .benefits-img{
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 768px) {
    .benefits-row{
        grid-template-columns: 1fr;
    }
}
/* benefits end */


/* form styles */
.form{
    padding: 109px 0 106px 0;
}
.form-container{
    position: relative;
    max-width: 1024px;
}
.form-img{
    position: absolute;
    max-width: 330px;
    height: 300px;
    object-fit: cover;
}
.form-img-1{
    top: -150px;
    left: -250px;
}
.form-img-2{
    top: 150px;
    right: -250px;
}
.form-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(71.83deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    max-width: 840px;
    margin: 0 auto 47px auto;
}
.form-row{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.form-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 318px;
    width: 100%;
}
.form-row .form-col:nth-child(3){
    max-width: 265px;
    padding-top: 13px;
}
.form-col-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 20px;
}
.form-col-input{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 13px 16px;
    border: none;
    outline: none;
    border-radius: 100px;
}
.form-col-input::placeholder{
    color: #B7B7B7;
}

.form-col-btn{
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 22px;
    display: flex;
    cursor: pointer;
    margin-left: 10px;
}

/* form responsive styles */
@media (max-width: 1300px) {
    .form-img{
        max-width: 160px;
        height: 200px;
    }
    .form-img-1{
        top: -100px;
        left: -130px;
    }
    .form-img-2{
        top: 100px;
        right: -130px;
    }
}
@media (max-width: 1200px) {
    .form-img-1{
        top: -100px;
        left: -60px;
    }
    .form-img-2{
        top: 200px;
        right: -60px;
    }
}
@media (max-width: 1100px) {
    .form-img-1{
        top: -100px;
        left: -25px;
    }
    .form-img-2{
        top: 180px;
        right: -25px;
    }
}
@media (max-width: 980px) {
    .form-row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .form-img-1{
        top: -130px;
        left: 0px;
    }
    .form-img-2{
        top: 200px;
        right: 0px;
    }
}

@media (max-width: 768px) {
    .form{
        padding-top: 67px;
        padding-bottom: 67px;
    }
    .form-title{
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
    .form-row{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .form-col{
        max-width: none;
        align-items: start;
    }
    .form-col-btn{
        padding-top: 10px;
        padding-bottom: 9px;
    }
    .form-img-1{
        top: -100px;
        left: -10px;
        height: 200px;
    }
    .form-img-2{
        top: 200px;
    }
}
@media (max-width: 520px) {
    .form-img-1{
        top: -100px;
        left: -10px;
        height: 180px;
    }
    .form-img-2{
        top: 300px;
        height: 180px;
    }
}
@media (max-width: 480px) {
    .form-img-1{
        top: -100px;
    }
    .form-img-2{
        height: 180px;
    }
}
/* form styles end */

/* about styles */
.about{
    padding-top: 106px;
    padding-bottom: 100px;
}
.about-container{
    max-width: 1100px;
}
.about-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 86px;
}
.about-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2px;
}
.about-info{
    max-width: 497px;
}
.about-info-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 51px;
    line-height: 41.8px;
    letter-spacing: -1.14px;
    color: #CCCCCC;
    margin-bottom: 35px;
}
.about-info-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 41.8px;
    letter-spacing: -1.14px;
}
.about-img{
    width: 100%;
    border-radius: 31px;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 980px) {
    .about-box{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .about-img{
        order: -1;
    }

}
@media (max-width: 640px) {
    .about{
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .about-title{
        margin-bottom: 30px;
    }
    .about-img{
        height: 310px;
    }
    .about-info-title{
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .about-info-text{
        font-size: 20px;
        line-height: 1.4;
    }
}
/* about styles end */
.count{
    padding-top: 100px;
    padding-bottom: 90px;
}
.count-container{
    max-width: 930px;
}
.count-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 60px;
}
.count-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.count-col-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 73.5px;
    letter-spacing: -1.4px;
    text-align: center;
    background: linear-gradient(30.62deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 12px;
}
.count-col-text{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #7A7A7A;
    max-width: 224px;
    margin: 0 auto;
}

/* count responsive styles */
@media (max-width: 768px) {
    .count{
        padding-top: 38px;
        padding-bottom: 30px;
    }
    .count-title{
        font-size: 30px;
        margin-bottom: 40px;
        line-height: 1.2;
    }
    .count-col-title{
        font-size: 54px;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    .count-col-text{
        font-size: 18px;
        line-height: 1.2;
    }
    .count-row{
        flex-direction: column;
    }
}
/* count styles end */

.mission{
    padding-top: 85px;
    padding-bottom: 75px;
}
.mission-container{
    max-width: 1100px;
}
.mission-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 41px;
}
.mission-info{
    position: relative;
    background: linear-gradient(113.49deg, #FFFFFF 0%, #D2D2D2 100%);
    padding: 78px 75px 99px;
    border-radius: 24px;
}
.mission-info-text{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.62px;
    text-align: center;
    color: #000000;
}
.mission-info-icon{
    position: absolute;
    bottom: -33px;
    right: -100px;
    max-width: 190px;
}

/* mission responsive styles */
@media (max-width: 768px) {
    .mission{
        padding-block: 30px;
    }
    .mission-title{
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
    .mission-info{
        padding: 40px 30px;
        border-radius: 24px;
    }
    .mission-info-text{
        font-size: 24px;
        line-height: 1.2;
    }
    .mission-info-icon{
        position: absolute;
        bottom: -44px;
        right: -29px;
        max-width: 121px;
    }
}
/* mission styles end */

/* why-us styles */
.why-us{
    padding-top: 75px;
    padding-bottom: 105px;
}
.why-us-container{
    max-width: 1138px;
}
.why-us-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 85px;
}
.why-us-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px 82px;
}
.why-us-col{
    background-color: white;
    padding: 17px 27px 17px 25px ;
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
}
.why-us-col:nth-child(1){
    order: 0;
}
.why-us-col:nth-child(6){
    order: 6;
}
.why-us-col:nth-child(3){
    order: 5;
}
.why-us-col:nth-child(5){
    order: 4;
}
.why-us-col:nth-child(2){
    order: 3;
}
.why-us-col-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 120px;
    line-height: 110.00000000000001%;
    letter-spacing: -0.52px;
    text-align: center;
    color: #E0E0E0;
    height: 84px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.why-us-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1.14px;
    color: black;
}

/* why-us responsive styles */
@media (max-width: 1024px) {
    .why-us-row{
        gap: 20px;
    }
}
@media (max-width: 840px) {
    .why-us-row{
        grid-template-columns: 1fr;
    }
    .why-us-col{
        order: 0 !important;
    }
}
@media (max-width: 768px) {
    .why-us{
        padding-top: 27px;
        padding-bottom: 56px;
    }
    .why-us-title{
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .why-us-row{
        gap: 22px;
    }
    .why-us-col{
        gap: 20px;
        border-radius: 20px;
    }
    .why-us-col-text{
        font-size: 16px;
        line-height: 1.2;
    }
    .why-us-col-title{
        font-size: 80px;
        line-height: 1;
        width: 48px;
        height: 74px;
    }
}
/* why us styles end */

/* requirement styles */
.requirement{
    padding-top: 105px;
    padding-bottom: 91px;
}
.requirement-container{
    max-width: 1230px;
}
.requirement-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 50.8px;
    letter-spacing: -1.32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 87px;
}
.requirement-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 79px;
}
.requirement-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
}
.requirement-col{
    max-width: 329px;
    border: 1px solid #262626;
    background-color: #1B1B1B;
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 30px;
    padding: 31px 22px 32px 16px;
}
.requirement-col:nth-child(4){
    max-width: 382px;
}
.requirement-col:nth-child(5){
    max-width: 382px;
}
.requirement-col-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.requirement-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.52px;
    color: #CCCCCC;
}

/* requirement responsive styles */
@media (max-width: 1150px) {
    .requirement-col{
        max-width: 45% !important;
    }
}
@media (max-width: 768px) {
    .requirement{
        padding-top: 26px;
        padding-bottom: 27px;
    }
    .requirement-row{
        display: grid;
        gap: 30px;
    }
    .requirement-col{
        max-width: 100% !important;
        border-radius: 20px;
    }
    .requirement-title{
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 36px;
    }
    .requirement-heading{
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
    .requirement-col{
        padding: 16px;
    }
    .requirement-col-img{
        width: 80px;
        height: 80px;
    }
    .requirement-col-text{
        font-size: 18px;
    }
}
/* requirement styles end */

/* meeting styles */
.meeting{
    background-color: white;
    color: black;
    padding-top: 87px;
    padding-bottom: 107px;
}
.meeting-container{
    max-width: 1092px;
}
.meeting-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #000000 0%, rgba(24, 24, 24, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 87px;
}
.meeting-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 62px;
}
.meeting-col{
    display: flex;
    align-items: center;
    gap: 30px 22px;
}
.meeting-col-logo{
    width: 60px;
    height: 60px;
}
.meeting-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -1.14px;
}
.meeting-col-text-title{
    font-weight: 600;
}

/* meeting responsive styles */
@media (max-width: 768px) {
    .meeting{
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .meeting-title{
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .meeting-row{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .meeting-col-text{
        font-size: 18px;
        line-height: 1.2;
    }
}
/* meeting styles end */

/* steps styles */
.steps{
    padding-top: 192px;
    padding-bottom: 102px;
}
.steps-container{
    max-width: 1100px;
}
.steps-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 79px;
}
.steps-row{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 68px 27px 80px;
    border: 2px solid #858585;
    border-radius: 24px;
}
.steps-col{
    max-width: 256px;
}
.steps-col:nth-child(3){
    max-width: 162px;
}
.steps-col:nth-child(3) .steps-col-img{
    width: 49px;
    height: 49px;
    margin-bottom: 23px;
}
.steps-col:nth-child(5){
    max-width: 180px;
}
.steps-col-img{
    width: 74px;
    height: 74px;
    margin-bottom: 14px;
}
.steps-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -1px;
}
.steps-col-text-link{
    color: black;
}

/* steps responsive styles */
@media (max-width: 920px) {
    .steps{
        padding: 18px;
    }
    .steps-col{
        max-width: 180px;
    }
}
@media (max-width: 768px) {
    .steps{
        padding-top: 37px;
        padding-bottom: 107px;
    }
    .steps-title{
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .steps-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 17px;
        gap: 60px;
    }
    .steps-col{
        max-width: 100% !important;
        text-align: center;
    }
    .steps-right-icon{
        transform: rotate(90deg);
    }
}
/* steps styles end */


/* price styles */
.price{
    padding-block: 104px;
}
.price-container{
    max-width: 1082px;
    margin-inline: auto;
}
.price-top{
    text-align: center;
    border-bottom: 2px dashed #4C4C4C;
    padding-bottom: 64px;
    margin-bottom: 60px;

}
.price-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    margin-bottom: 94px;
}
.price-heading{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 78px;
}
.price-money{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 115px;
    line-height: 55px;
    letter-spacing: -1.62px;
    text-align: center;
    color: #CCCCCC;
}

.price-bottom{
    max-width: 980px;
    margin-inline: auto;
}
.price-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 47px;
}
.price-col{
    border: 1px solid #262626;
    background-color: #303030;
    padding: 35px 32px 33px;
    border-radius: 30px;
    position: relative;
}
.price-col:nth-child(2){
    transform: translateY(36px);
    background-color: #1B1B1B;
}
.price-col:nth-child(3){
    background-color: #121212;
}
.price-col-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: -0.52px;
    text-align: center;
    margin-bottom: 28px;
    position: relative;
    z-index: 11;
}
.price-col-money{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.52px;
    text-align: center;
    color: #CCCCCC;
    position: relative;
    z-index: 11;
}
.price-col-month{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 140px;
    line-height: 0.8;
    letter-spacing: -0.52px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.05;
}

/* price responsive styles */
@media (max-width: 940px) {
    .price-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .price-col:nth-child(2){
        transform: translate(0);
    }
}
@media (max-width: 768px) {
    .price{
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .price-top{
        padding-bottom: 30px;
    }
    .price-title{
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 1.2;
    }
    .price-heading{
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .price-money{
        font-size: 83px;
        line-height: 1.2;
    }
    .price-top{
        margin-bottom: 30px;
    }
    .price-bottom-title{
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .price-row{
        gap: 30px;
    }
    .price-col{
        border-radius: 20px;
        padding: 30px 32px;
    }
    .price-col-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .price-col-month{
        font-size: 110px;
    }
}

/* price styles end */

/* members styles */
.members{
    padding-top: 103px;
    padding-bottom: 98px;
}
.members-container{
    max-width: 1239px;
}
.members-title{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 52.8px;
    letter-spacing: -1.32px;
    text-align: center;
    background: linear-gradient(79.97deg, #FFFFF7 0%, rgba(255, 255, 247, 0.34) 100%);
    color: transparent;
    background-clip: text;
    margin-bottom: 74px;
}
.members-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 25px 26px;
}
.members-col{
    padding: 14px 14px 21px 15px;
    border: 1px solid #262626;
    background-color: #1B1B1B;
    border-radius: 30px;
}
.members-col-img{
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 24px;
}
.members-col-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -0.52px;
    margin-bottom: 12px;
    padding-left: 7px;
}
.members-col-text{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.52px;
    color: #CECECE;
    padding-left: 7px;
    max-width: 214px;
}
.members-col-count{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 120px;
    line-height: 110.00000000000001%;
    letter-spacing: -0.52px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* members responsive styles */
@media (max-width: 1024px) {
    .members{
        padding-top: 22px;
        padding-bottom: 24px;
    }
}

@media (max-width: 540px) {
    .members-row{
        grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
    }
    .members-title{
        font-size: 30px;
        margin-bottom: 40px;
    }
}
/* members styles end */


/* contact styles */
.contact{
    padding-top: 110px;
    padding-bottom: 40px;
    padding-inline: 20px;
}
.contact-container{
    max-width: 1100px;
    background: linear-gradient(113.49deg, #1A1A1A 0%, #0D0D0D 100%);
    padding-top: 62px;
    padding-bottom: 64px;
    border-radius: 24px;
}
.contact-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 54px;
    line-height: 55px;
    letter-spacing: -1.62px;
    text-align: center;
    color: #CCCCCC;
    margin-bottom: 23px;
}
.contact-title span{
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    line-height: 55px;
    color: #CCCCCC;
}
.contact-list{
    background-color: white;
    max-width: 966px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
    list-style: none;
    padding-block: 13px;
    border-radius: 22px;
}
.contact-item:nth-child(2){
    padding-left: 37px;
    padding-right: 38px;
    border-inline: 3px dashed #C1C1C1;
}

.contact-item-title{
    color: #ADADAD;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 14px;
    margin-bottom: 12px;
}
.contact-item-link{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -4%;
    color: black;
    text-decoration: none;
}

/* contact responsive styles */
@media (max-width: 1024px) {
    .contact-container{
        padding-inline: 30px;
    }
    .contact-list{
        padding: 20px 40px;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    .contact-item{
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 100%;
    }
    .contact-item-title{
        margin-bottom: 0;
    }
    .contact-item:nth-child(2){
        padding: 16px 37px 16px 0;
        border-inline: none;
        border-block: 3px dashed #C1C1C1;
    }
}
@media (max-width: 768px) {
    .contact{
        padding: 0;
        padding-top: 30px;
        padding-bottom: 1px;
    }
    .contact-container{
        padding: 35px 20px;
        border-radius: 0;
    }
    .contact-title{
        font-size   : 28px;
        line-height: 1.2;
        margin-bottom: 23px;
    }
    .contact-title span{
        font-size   : 24px;
        line-height: 1.2;
    }
    .contact-list{
        padding: 16px;
    }
}
@media (max-width: 540px) {
    .contact-item{
        flex-direction: column;
        align-items: start;
    }
    .contact-item-title{
        font-size: 15px;
    }
    .contact-item-link{
        font-size: 16px;
    }
}
/* contact styles end */

/* footer styles */
.footer{
    padding-block: 39px;
}
.footer-container{
    max-width: 1332px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer-logo{
    width: 69px;
    cursor: pointer;
    transition: 0.3s;
}
.footer-logo:hover{
    transition: 0.3s;
    filter: brightness(0) invert(1);
}
.footer-text{
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.91px;
    color: #c8c8c8;
}
.footer-social{
    display: flex;
    align-items: center;
    gap: 17px;
}
.footer-social-link{
    display: flex;
    transition: 0.3s;
}
.footer-social-tel{
    font-family: "SF Pro Display", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16.2px;
    color: #c8c8c8;
    text-decoration: none;
    transition: 0.3s;
}

.footer-social-link:hover, .footer-social-tel:hover{
    filter: brightness(0) invert(1);
    transition: 0.3s;
}

/* footer responsive styles */
@media (max-width: 768px) {
    .footer{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
    }
    .footer-logo{
        height: 50px;
    }
    .footer-text{
        order: 2;
    }
}
/* footer styles end */


/* responsive menu styles */
body.active{
    overflow: hidden !important;
    height: 100vh;
}
.responsive-menu{
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 100vh;
    z-index: 11;
    padding-top: 50px;
    padding-bottom: 70px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: all 0.3s;
}
.responsive-menu.active{
    left: 0;
    transition: all 0.3s;
}
.responsive-menu .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: transparent;
    border: none;
}
.responsive-menu .nav-list .nav-link{
    color: white;
    font-size: 22px;
}
.responsive-menu .responsive-menu-logo{
    margin-bottom: 35px;
}
.responsive-menu .header-btn{
    display: inline-block;
    margin-top: auto;
}
.responsive-menu-btn{
    position: absolute;
    top: 51px;
    right: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (min-width: 840px) {
    .responsive-menu{
        display: none;
    }
}
/* responsive menu styles end */


/* loader styles */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.845);
    width: 100%;
    height: 100vh;
    z-index: 111;
    display: none;
    align-items: center;
    justify-content: center;
}
.loader.active{
    display: flex;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
/* loader styles end */


/* form sent modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.815); 
    justify-content: center;
    align-items: center;
    z-index: 10000;
    display: none; 
    padding-inline: 20px;
}

.modal {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    color: #333;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: "Poppins", sans-serif;
}
.modal-text svg{
    width: 40px;
}

.modal-overlay.show {
    display: flex;
}

/* modal responsive styles */
@media (max-width: 480px) {
    .modal-text{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        font-size: 16px;
    }
    .modal-text svg{
        order: -1;
    }
}